<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New Car</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('../partials/nav') %>
    <h1>Add a New Car!</h1>
    <!-- config a html form -> two attributes (action-> endpoint string) (method-> POSt) -->
    <form action="/Car" method="POST">
      <!-- system of related html tags/elements -->
      <!-- input > name + type (attributes) -->
      <div>
        <label for="name">Car Name:</label>
        <input type="text" name="name" id="name" />
      </div>
      <div>
        <label for="year">Car Year:</label>
        <input type="number" name="year" id="year" />
      </div>
      <div>
        <label for="image">Car Image:</label>
        <input type="text" name="image" id="image" />
      </div>
      <button type="submit">Add Car</button>
    </form>
  </body>
</html>
