<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Car Show Page</title>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <h1>Car Show Page</h1>
    <h2>Name: <%= Car.name %></h2>
 
    <form method="POST" action="/Car/<%= Car._id %>?_method=DELETE">
      <button type="submit">Delete Car</button>
    </form>

    <section>
      <a href="/Car/<%= Car._id %>/edit">Edit Car</a>
    </section>
  </body>
</html>